.env
.idea/

/node_modules
/vendor/
/storage/cache/*
/storage/logs/*
/storage/smarty/cache/*
/storage/smarty/compile/*

!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/smarty/cache/.gitkeep
!/storage/smarty/compile/.gitkeep

package-lock.json